{% extends 'base.html.twig' %}

{% block stylesheet %}}
<style>
  a{
    color:#E0E0E0;
  }
</style>
{% endblock %}
{% block page_content %}

            <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Listado <small>Registro de Permiso</small></h2>

                         <div class="title_right">
                              <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                               <a  class="btn btn-success" href="{{path('permiso_new')}}" >
                  							<i class="glyphicon glyphicon-plus-sign"> NUEVA SOLICITUD DE PERMISO</i>
                  						</a>
                              </div>
                            </div>

                    <div class="clearfix"></div>
                  </div>

                  <div class="x_content">

                    <div class="table-responsive">

                     <b>Total Items :</b> {{ permisos|length}}
                      <table class="table table-striped jambo_table bulk_action">
                        <thead>
                          <tr class="headings">
                            <th class="column-title">{{knp_pagination_sortable(permisos,'Nº','p.id')}}</th>
                            <th class="column-title">{{knp_pagination_sortable(permisos,'Fecha de Solicitud','p.fechaSolicitud')}}</th>
                            <th class="column-title">{{knp_pagination_sortable(permisos,'Fecha de Inicio','p.fechaInicio')}}</th>
                            <th class="column-title">{{knp_pagination_sortable(permisos,'Fecha Fin','p.fechaFin')}}</th>
                            <th class="column-title">{{knp_pagination_sortable(permisos,'Fecha de Regreso','p.fechaRegreso')}}</th>
                            <th class="column-title">{{knp_pagination_sortable(permisos,'Estado','p.estado')}}</th>
                            <th class="column-title">{{knp_pagination_sortable(permisos,'Tiempo','p.tiempoLicencia')}}</th>
                            <th class="column-title">{{knp_pagination_sortable(permisos,'Unidad','p.tipo')}}</th>
                            <th class="column-title">Action</th>

                          </tr>
                        </thead>

                        <tbody>
                          {% for permiso in permisos %}
                                <tr>
                                    <td>{{permiso.id}}</td>
                                    <td>{% if permiso.fechaSolicitud %}{{ permiso.fechaSolicitud|date('Y-m-d') }}{% endif %}</td>
                                    <td>{% if permiso.fechaInicio %}{{ permiso.fechaInicio|date('Y-m-d') }}{% endif %}</td>
                                    <td>{% if permiso.fechaFin %}{{ permiso.fechaFin|date('Y-m-d') }}{% endif %}</td>
                                    <td>{% if permiso.fechaRegreso %}{{ permiso.fechaRegreso|date('Y-m-d') }}{% endif %}</td>
                                    <td>{% if permiso.estado == 1 %}
                                        <span class="label label-primary arrowed-in-right arrowed">Solicitado</span>
                                        {% elseif permiso.estado == 2 %}
                                        <span class="label label-success arrowed">Cargado</span>
                                        {% elseif permiso.estado == 3 %}
                              					<span class="label label-info arrowed-in-right arrowed">No Cargado</span>
                                        {% else %}
                                        <span class="label label-danger arrowed-in">Anulado</span>
                                        {% endif %}
                            		        </td>
            							          <td>{{permiso.tiempoLicencia}}</td>
                                    <td>{{ permiso.tipo }}</td>
                                    <td>
                                      <ul class="nav navbar-nav">

                                          <li class="btn-group">
                                              <a href="javascript:;" class="dropdown-toggle btn btn-default" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-cog" aria-hidden="true"></i>
                                                  <span class=" fa fa-angle-down"></span>
                                              </a>
                                              <ul class="dropdown-menu">
                                        {% if permiso.estado == 1 %}

                                    		<li><a target="_blank" href="{{path('permiso_print',{'id':permiso.id}) }}" class="btn btn-xs btn-default">
													                <i class="fa fa-print" aria-hidden="true"></i> <span> Imprimir</span>
											                  </a></li>

                												<li><a href="{{ path('permiso_edit', { 'id': permiso.id }) }}" class="btn btn-xs btn-warning">
                													<i class="ace-icon fa fa-pencil-square-o bigger-120"></i><span> Editar</span>
                												</a></li>

                                        <li><a href="{{ path('permiso_delete', { 'id': permiso.id }) }}" class="btn btn-xs btn-danger">
                													<i class="fa fa-trash" aria-hidden="true"></i>  <span> Eliminar</span>
                												</a></li>
                                        {% else %}
                                        <li><a href="{{path('permiso_show',{'id':permiso.id})}}" class="btn btn-xs btn-info">
                        												<i class="fa fa-eye" aria-hidden="true"></i><span> Mostrar</span>
                        								</a></li>
                												{% endif %}
                                      </ul>
                                  </li>

                              </ul>
                                </td>
                                </tr>
                            {% endfor%}
                        </tbody>
                      </table>
                      <div class="navigation">
                          {{ knp_pagination_render(permisos) }}
                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>

{% endblock %}
