<!DOCTYPE html>
<html>
    <head>

        <style>
    #bor{
    border: 1px;
    border-collapse: collapse;
    border-style: groove;
    }
</style>
    </head>
    <body>

    <table width="100%" cellspacing="0" cellpadding="0" style="table-layout:fixed font-size:10px";>
        <thead>
            <tr>
                <th colspan="4" id="bor"><h3>Reporte Vacacion</h3></th>
                </tr>
            <tr>
                <td colspan="2" id="bor"><FONT SIZE=2>Fecha de Emision : {{ "now"|date("m/d/Y") }}</FONT></td>
                <td colspan="2" id="bor"><FONT SIZE=2>Usuario : {{ app.user.username }}</FONT></td>
            </tr>
            <tr>
                <td colspan="2" id="bor"><FONT SIZE=2>Cantidad Registros : {{vacacionCabeceras|length}} </FONT></td>
                <td id="bor"><FONT SIZE=2 >Desde : {{fIni}}</FONT></td>
                <td id="bor"><FONT SIZE=2 >Hasta : {{fFin}}</FONT></td>
            </tr>
        </thead>
    </table>
    <br>
    <table width="100%"   cellspacing="0" cellpadding="0" style="table-layout:fixed font-size:10px";>
        <thead >
            <tr  >
                <th width="4%" id="bor"><FONT SIZE=2>Correlativo</FONT></th>
                <th width="4%" id="bor"><FONT SIZE=2>Cod. Empleado</FONT></th>
                <th width="21%" id="bor"><FONT SIZE=2>Empleado</FONT></th>
                <th width="20%" id="bor"><FONT SIZE=2>Cargo</FONT></th>
                <th width="10%" id="bor" ><FONT SIZE=2>Fecha Inicio</FONT></th>
                <th width="10%" id="bor"><FONT SIZE=2>Fecha Fin</FONT></th>
                <th width="4%" id="bor"><FONT SIZE=2>Dias Vacacion</FONT></th>

            </tr>
        </thead>
        <tbody>
            {% for vacacionCabecera in vacacionCabeceras%}
                <tr style="page-break-inside: avoid";>
                    <td align="center"><FONT SIZE=2>{{vacacionCabecera.id}}</FONT></td>
                    <td align="center"><FONT SIZE=2>{{vacacionCabecera.empleado.id}}</FONT></td>
                    <td ><FONT SIZE=2>{{vacacionCabecera.empleado}}</FONT></td>
                    <td><FONT SIZE=2>{% if vacacionCabecera.empleado.auxempleado %}{{vacacionCabecera.empleado.auxempleado.cargo}}{% endif %}</FONT></td>
                    <td><FONT SIZE=2>{{vacacionCabecera.fechaInicio|date('d-m-Y')}}</FONT></td>
                    <td><FONT SIZE=2>{{vacacionCabecera.fechaFin|date('d-m-Y')}}</FONT></td>
                    <td align="right"><FONT SIZE=2>{{vacacionCabecera.totalDias}}</FONT></td>
                </tr>
            {% endfor%}
        </tbody>
    </table>
    </body>

</html>
